
@{
    ViewBag.Title = "VerDetalle del alumno";

}


<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">Detalle de alumnos</div>
        <div class="panel-body"></div>
        <div class="input-group input-group-lg" >
            <input type="text" class="form-control" placeholder="Username" aria-describedby="sizing-addon1"/>
        </div>
    </div>
</div>




